body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    font-size: 45px;
    height: 55px;
    width: 55px;
}

.wrapper{
    background-color: #db0dca;
    border: 2px solid black;
    padding: 15px;
    border-radius: 5px;
}

.content{
    display: flex;
    justify-content: end;
    background-color: lightgrey;
    padding: 8px;
}

.result{
  font-size: 37px;
  font-weight: bold;
}

.btn-container{
    padding: 10px;
}

.section{
    margin: 8px;
}