body {
    background-color:#2189cf;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
  background-color: #c7e9f0;
}

.btn{
    font-size: 45px;
    height: 55px;
    width: 55px;
    margin: 3px;
    border-radius: 15px;
    background-color: #fefcff;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#d6722b;
    border: 2px solid black;
    padding: 15px;
    border-radius: 5px;
}

.content{
    height: 50px;
    width: 268px;
    display: flex;
    justify-content: end;
    border-radius: 3px;
    background-color: #fefcff;
    padding: 8px;
}

.result{
  font-size: 37px;
  font-weight: bold;
}

.btn-container{
    padding: 10px;
}

.section{
    margin: 8px;
}