body {
    background-color: gray;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    font-size: 45px;
    height: 55px;
    width: 55px;
    margin: 3px;
    border-radius: 10px;
    border-style: none;
}

.previous{
    font-size: 20px ;
}

.current{
    font-size: 25px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #070914;
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
}

.content{
    height: 50px;
    width: 268px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #fefcff;
    padding: 8px;
}

.btn-container{
    padding: 10px;
}

.section-cb{
    display: flex;
    justify-content: space-around;
    margin: 8px;
}

.section, .section-cb{
    margin: 8px;
}

.number, .decimal, .backspace{
    background-color: lightgrey;
}

.number:hover, .decimal:hover, .backspace:hover{
   color: lightgray;
   background-color: #070914;
}


.operator{
    background-color: gold;
}
.operator:hover{
    background-color: #070914;
    color: gold
}


.equal:hover{
  color: white;
  background-color: #070914;
}



.clear{
    color: white;
    background-color: red;
}

.clear:hover{
  background-color: #070914;
}